language: python
python:
  - "3.8"      

services:
  - docker

install:
    - pip install -r requirements.txt
    - pip install .

before_script: pip install docker-compose

script:
  - docker-compose run app sh -c "python manage.py test"