
{% extends 'core/base.html' %}
{% load teacher_filter i18n %}
{% block title %}Teachers{% endblock title %}

{% block breadcrumb %}
<a class="btn btn-primary" href="{% url 'teacher-create' %}"><i
    class="fas fa-plus"></i> New teacher</a>
<a class="btn btn-primary" href="{% url 'teacher-upload' %}"><i
    class="fas fa-upload"></i> Upload teachers</a>
{% endblock breadcrumb %}


{% block content %}
  <form method="get">
  {{ filter.form.as_p}}
   <!-- Last Name: {{ filter.form.last_name|first_letter_value_initial}}
    Subjects taught: {{ filter.form.subjects|first_letter_value_initial}}-->
    <ul>
    <button class="btn btn-primary" type="submit">Search</button>
    </ul>
  </form>

<!-- Filter Results -->


  <div class="table-responsive">
    <table id="teachertable" class="table table-bordered table-hover" data-page-length='100'>
      <thead class="thead-light">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email Address</th>
          <th>Phone Number</th>
          <th>Room Number</th>
          <th>Subjects taught</th>
        </tr>
      </thead>
      <tbody>

        {% for teacher in filter.qs %}
          <tr class='clickable-row' data-href="{% url 'teacher-detail' teacher.id %}">
<!--<td>{{ forloop.counter}}</td>-->
            <td>{{ teacher.first_name}}</td>
            <td> {{teacher.last_name }} </td>
            <td>{{ teacher.email}}</td>
            <td>{{ teacher.phone}}</td>
            <td>{{ teacher.room}}</td>
            <td>{{ teacher.subjects}}</td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

{% endblock content %}


{% block morejs %}
<script>
  $('#teachertable').DataTable({
  });
</script>

    <script>
        $(document).ready(function(){
            $('#resultDataTable').dataTable();
        });
    </script>

{% endblock morejs %}